<a href="#home">
    <img class="personal-logo-1" src="../../assets/img/signature/personal-logo-1.png">
  </a>
<!-- ======================================= NAVBAR ============================= -->
<nav class="vertical-menu">
  <a href="home-two#homeTwo">
    <div class="nav-link-container row mb-2">
      <div class="nav-link-text col text-right">
        home
      </div>
      <div class="col p-0">
        <div class="line"></div>

      </div>
      <div class="col p-0">
        <div class="nav-circle">
        </div>
      </div>

    </div>
  </a>
  <a href="home-two#resumeTwo">
    <div class="nav-link-container row mb-2">
      <div class="nav-link-text col text-right">
        resume
      </div>
      <div class="col p-0">
        <div class="line"></div>

      </div>
      <div class="col p-0">
        <div class="nav-circle">
        </div>
      </div>

    </div>
  </a>
  <a href="home-two#projectsTwo">
    <div class="nav-link-container row mb-2">
      <div class="nav-link-text col text-right">
        projects
      </div>
      <div class="col p-0">
        <div class="line"></div>

      </div>
      <div class="col p-0">
        <div class="nav-circle">
        </div>
      </div>

    </div>
  </a>
  <a href="home-two#contactTwo">
    <div class="nav-link-container row">
      <div class="nav-link-text col text-right">
        contact
      </div>
      <div class="col p-0">
        <div class="line"></div>

      </div>
      <div class="col p-0">
        <div class="nav-circle">
        </div>
      </div>

    </div>
  </a>
</nav>
<div class="vertical-text">
  <span>AARON G. TREVINO</span>
</div>

<!-- ======================================= MAIN PAGE ============================= -->
<main class="wrapper">
  <section id="homeTwo" class="section parallax bg1">
    <div class="row text-center">
      <div class="col-12">
        <img class="ui-ux-img" src="../../assets/img/signature/uiux-1-fff.png">
      </div>
      <div class="col-12">
        <p class="intro-paragraph-2">
          I am a full-stack developer with a focus on providing unique user experiences.
          I'm always looking forward to expanding my knowledge and improving my existing skills.
          I excel at creative problem solving and critical thinking.
        </p>
      </div>
    </div>

  </section>
  <section id="resumeTwo" class="section static">
    <h1>Boring</h1>
  </section>
  <section id="projectsTwo" class="section parallax bg2">
    <h1>SO FWUFFY AWWW</h1>
  </section>
</main>