<!-- ======================================= NAVBAR ============================= -->
<nav class="vertical-menu">
  <a href="#homeTwo">
    <div id="home-nav" class="animatedFadeInUp animated nav-link-container row mb-2">
      <div class="nav-link-text col text-right home-nav">
        home
      </div>
      <div class="col p-0 nav-line">
        <div class="line home-nav"></div>
      </div>
      <div class="col p-0">
        <div class="nav-circle home-circle">
        </div>
      </div>

    </div>
  </a>
  <a href="#resumeTwo">
    <div id="resume-nav" class="animatedFadeInUp animated nav-link-container row mb-2">
      <div class="nav-link-text col text-right resume-nav">
        resume
      </div>
      <div class="col p-0 nav-line">
        <div class="line resume-nav"></div>
      </div>
      <div class="col p-0 ">
        <div class="nav-circle resume-circle">
        </div>
      </div>
    </div>
  </a>
  <a href="#projectsTwo">
    <div id="projects-nav" class="animatedFadeInUp animated nav-link-container row mb-2">
      <div class="nav-link-text col text-right projects-nav projects-nav-2">
        projects
      </div>
      <div class="col p-0 nav-line">
        <div class="line projects-nav projects-nav-2"></div>
      </div>
      <div class="col p-0">
        <div class="nav-circle projects-circle projects-circle-2">
        </div>
      </div>

    </div>
  </a>
  <a href="#contactTwo ">
    <div id="contact-nav" class="animatedFadeInUp animated nav-link-container row">
      <div class="nav-link-text col text-right contact-nav">
        contact
      </div>
      <div class="col p-0 nav-line">
        <div class="line contact-nav"></div>

      </div>
      <div class="col p-0">
        <div class="nav-circle contact-circle">
        </div>
      </div>

    </div>
  </a>
</nav>
<div class="vertical-text-2">
  <span>AARON G. TREVINO</span>
</div>
<!-- ======================================= MAIN PAGE ============================= -->
<main class="wrapper">
  <section id="homeTwo" class="section parallax bg1">
    <a href="mailto: aaron.g.trevino@gmail.com">
      <svg class="contact-icon-top" style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#fff"
          d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M6,9H18V11H6M14,14H6V12H14M18,8H6V6H18" />
      </svg>
    </a>
    <div style="position: relative;
    left: -80px;
    top: 10px;" class="row text-center ">
      <div class="col-12">
        <div class="rw-wrapper">
          <h1 class="lets-title">
            <span>Let's</span>
            <div class="rw-words rw-words-1">
              <span class="word-span">
                DESIGN
                <svg style="width: 30px; height: 30px; position: absolute; top: 12px;" viewBox="0 0 24 24">
                  <path fill="#1dd1a1"
                    d="M16.84,2.73C16.45,2.73 16.07,2.88 15.77,3.17L13.65,5.29L18.95,10.6L21.07,8.5C21.67,7.89 21.67,6.94 21.07,6.36L17.9,3.17C17.6,2.88 17.22,2.73 16.84,2.73M12.94,6L4.84,14.11L7.4,14.39L7.58,16.68L9.86,16.85L10.15,19.41L18.25,11.3M4.25,15.04L2.5,21.73L9.2,19.94L8.96,17.78L6.65,17.61L6.47,15.29" />
                </svg>
              </span>
              <span class="word-span">
                INNOVATE
                <svg style="width: 34px; height: 34px; position: absolute; top: 4px;" viewBox="0 0 24 24">
                  <path fill="#f6e58d"
                    d="M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M11,18H13V15.87C14.73,15.43 16,13.86 16,12A4,4 0 0,0 12,8A4,4 0 0,0 8,12C8,13.86 9.27,15.43 11,15.87V18Z" />
                </svg>
              </span>
              <span class="word-span">
                DEVELOP
                <svg style="width: 34px; height: 34px; position: absolute; top: 4px;" viewBox="0 0 24 24">
                  <path fill="#48dbfb"
                    d="M12.89,3L14.85,3.4L11.11,21L9.15,20.6L12.89,3M19.59,12L16,8.41V5.58L22.42,12L16,18.41V15.58L19.59,12M1.58,12L8,5.58V8.41L4.41,12L8,15.58V18.41L1.58,12Z" />
                </svg>
              </span>
              <span class="word-span">
                CREATE
                <svg style="width: 34px; height: 34px; position: absolute; top: 6px;" viewBox="0 0 24 24">
                  <path fill="#f3a683"
                    d="M20.71,4.63L19.37,3.29C19,2.9 18.35,2.9 17.96,3.29L9,12.25L11.75,15L20.71,6.04C21.1,5.65 21.1,5 20.71,4.63M7,14A3,3 0 0,0 4,17C4,18.31 2.84,19 2,19C2.92,20.22 4.5,21 6,21A4,4 0 0,0 10,17A3,3 0 0,0 7,14Z" />
                </svg></span>
              <span class="word-span">
                CAPTIVATE
                <svg style="width: 34px; height: 34px; position: absolute; top: 6px;" viewBox="0 0 24 24">
                  <path fill="#a29bfe"
                    d="M7,19H15V22H7V19M16.15,12V12L12.97,10.34C12.82,10.34 12.69,10.4 12.6,10.5L12.3,10.81L12.89,13.23L11.91,13.47L10.72,8.5L9.25,9.18L10.29,13.47L9.32,13.7L8.32,9.59L7.85,9.8C7.35,10 7,10.53 7,11.14V15.5C7,16.3 7.73,17 8.5,17H15C15.39,17 15.74,16.84 16,16.57L16.5,16.16C16.5,16.16 17,15.78 17,15.36V13.7C17,13.7 17,12.56 16.15,12M16.94,1C16.4,0.91 15.87,1.25 15.76,1.8L14.69,7.97C14.47,7.94 14.38,7.86 14.08,7.83L13.65,7.88L12.41,1.8C12.3,1.26 11.78,0.91 11.24,1C10.69,1.13 10.34,1.66 10.45,2.2L11.65,8.11V8.11L12,9.67C12.28,9.47 12.61,9.34 12.97,9.34H13.31L16.31,10.95L17.72,2.2C17.83,1.66 17.5,1.13 16.94,1Z" />
                </svg>
              </span>
            </div>
          </h1>
        </div>
      </div>

    </div>
    <div class="row chevron w-100 ">
      <div class="col-12 col-lg-7 w-100 text-white">
        <a class="arrow-down-2" href="#resumeTwo" alt="" rel="relativeanchor">
          <svg width="54px" height="102px" viewBox="0 0 54 102" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="btn-arrow-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3">
                <rect id="arrow-line" fill="#FFFFFF" x="26" y="-3" width="2" height="83">
                </rect>
                <polygon id="arrow" fill="#FFFFFF"
                  transform="translate(27.000000, 72.000000) rotate(-45.000000) translate(-27.000000, -72.000000) "
                  points="20 65 22 65 22 77 34 77 34 79 20 79">
                </polygon>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <div class="home-two-viewport"></div>
  </section>
  <section id="resumeTwo" class="resume-two-container">
    <div class="row resume-content">
      <div class="col-12">

      </div>

      <div class="col-xl-6 text-center mb-4">

        <img class="resume-img mb-4" src="../../assets/img/aarongtrevinoresume2020.png">
        <a style="color: #000 !important;" href="../../assets/agtrevinoresume2019sep.pdf" download>
          <button class="resume-button learn-more">
            <span class="circle">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Download</span>
          </button>
        </a>
      </div>

      <div class="col-xl-6 text-left">
        <div class="row creative-row animated animatedFadeInUp">
          <div class="col-12">
            <h1 class="resume-title">
              <svg class="resume-svg" viewBox="0 0 24 24">
                <path fill="#505464"
                  d="M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M11,18H13V15.87C14.73,15.43 16,13.86 16,12A4,4 0 0,0 12,8A4,4 0 0,0 8,12C8,13.86 9.27,15.43 11,15.87V18Z" />
              </svg>
              <span class="proficiencies-title creative-title">CREATIVE THINKING</span>

            </h1>
          </div>
          <p class="col-12 prof-text">
            Creative by nature, I'm constantly striving to set my work
            <br>
            apart from the rest by bringing new and unique
            <br>
            ideas that aim to captivate.
          </p>
        </div>
        <div class="row detail-row animated animatedFadeInUp">
          <div class="col-12">
            <h1 class="resume-title">
              <svg class="resume-svg" viewBox="0 0 24 24">
                <path fill="#505464"
                  d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
              </svg>
              <span class="proficiencies-title detail-title">ATTENTION TO DETAIL</span>

            </h1>
          </div>
          <p class="col-12 prof-text">
            The Devil is in the details.
            <br>
            I believe that it's the attention to details
            that separate good from great.
          </p>
        </div>
        <div class="row team-row animated animatedFadeInUp">
          <div class="col-12">
            <h1 class="resume-title ">
              <svg class="resume-svg" viewBox="0 0 24 24">
                <path fill="#505464"
                  d="M12,5A3.5,3.5 0 0,0 8.5,8.5A3.5,3.5 0 0,0 12,12A3.5,3.5 0 0,0 15.5,8.5A3.5,3.5 0 0,0 12,5M12,7A1.5,1.5 0 0,1 13.5,8.5A1.5,1.5 0 0,1 12,10A1.5,1.5 0 0,1 10.5,8.5A1.5,1.5 0 0,1 12,7M5.5,8A2.5,2.5 0 0,0 3,10.5C3,11.44 3.53,12.25 4.29,12.68C4.65,12.88 5.06,13 5.5,13C5.94,13 6.35,12.88 6.71,12.68C7.08,12.47 7.39,12.17 7.62,11.81C6.89,10.86 6.5,9.7 6.5,8.5C6.5,8.41 6.5,8.31 6.5,8.22C6.2,8.08 5.86,8 5.5,8M18.5,8C18.14,8 17.8,8.08 17.5,8.22C17.5,8.31 17.5,8.41 17.5,8.5C17.5,9.7 17.11,10.86 16.38,11.81C16.5,12 16.63,12.15 16.78,12.3C16.94,12.45 17.1,12.58 17.29,12.68C17.65,12.88 18.06,13 18.5,13C18.94,13 19.35,12.88 19.71,12.68C20.47,12.25 21,11.44 21,10.5A2.5,2.5 0 0,0 18.5,8M12,14C9.66,14 5,15.17 5,17.5V19H19V17.5C19,15.17 14.34,14 12,14M4.71,14.55C2.78,14.78 0,15.76 0,17.5V19H3V17.07C3,16.06 3.69,15.22 4.71,14.55M19.29,14.55C20.31,15.22 21,16.06 21,17.07V19H24V17.5C24,15.76 21.22,14.78 19.29,14.55M12,16C13.53,16 15.24,16.5 16.23,17H7.77C8.76,16.5 10.47,16 12,16Z" />
              </svg>
              <span class="proficiencies-title team-title">TEAM ORIENTED</span>

            </h1>
          </div>
          <p class="col-12 prof-text">
            I thrive in a team environment.
            <br>
            Working with others, in my experience, has a tendency to
            <br>
            produce the best results in the most efficient way possible.
          </p>
        </div>
      </div>
    </div>
    <div class="row chevron w-100">
      <div class="col-12 col-lg-7 w-100 text-white">
        <a class="arrow-down-2" href="#projectsTwo" alt="" rel="relativeanchor">
          <svg width="54px" height="102px" viewBox="0 0 54 102" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="btn-arrow-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3">
                <rect id="arrow-line" fill="#505464" x="26" y="-3" width="2" height="83">
                </rect>
                <polygon id="arrow" fill="#505464"
                  transform="translate(27.000000, 72.000000) rotate(-45.000000) translate(-27.000000, -72.000000) "
                  points="20 65 22 65 22 77 34 77 34 79 20 79">
                </polygon>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <div class="resume-two-viewport"></div>
  </section>
  <section id="projectsTwo" class="section parallax bg2 ">
    <div class="row projects-quote-container">
      <div class="col-12 text-right">
        <h1 class="quote-one text-left ">
          "You Can’t Use Up Creativity.
          <br> The More You Use, The More You Have"
        </h1>
      </div>
      <div class="col-12 text-right">
        <h1 class="quote-author">-Maya Angelou</h1>
      </div>
    </div>
    <div class="row chevron w-100 ">
      <div class="col-12 col-lg-7 w-100 text-white">
        <a class="arrow-down-2" href="#projectsContOne" alt="" rel="relativeanchor">
          <svg width="54px" height="102px" viewBox="0 0 54 102" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="btn-arrow-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3">
                <rect id="arrow-line" fill="#FFFFFF" x="26" y="-3" width="2" height="83">
                </rect>
                <polygon id="arrow" fill="#FFFFFF"
                  transform="translate(27.000000, 72.000000) rotate(-45.000000) translate(-27.000000, -72.000000) "
                  points="20 65 22 65 22 77 34 77 34 79 20 79">
                </polygon>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <div class="projects-two-viewport"></div>
  </section>
  <section id="projectsContOne" class=" project-two-container-two">
    <header class="">
      <div class="h-100 project-container row h-100 px-5">
        <div class="col-12 col-lg-7 w-100 text-white">
          <h1 class="header-1 jstorm-title animated animatedFadeInUp">
            J.STORM
            <br>
            LOGO DESIGN
          </h1>
        </div>
      </div>
      <div class="overlay"></div>
      <video class="jstorm-video" playsinline loop autoplay [muted]="'muted'">
        <source src="../../assets/videos/jstorm.mp4" type="video/mp4">
      </video>
      <div class="row chevron w-100">
        <div class="col-12 col-lg-7 w-100 text-white">
          <a class="arrow-down-2" href="#projectsContTwo" alt="" rel="relativeanchor">
            <svg width="54px" height="102px" viewBox="0 0 54 102" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="btn-arrow-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group-3">
                  <rect id="arrow-line" fill="#FFFFFF" x="26" y="-3" width="2" height="83">
                  </rect>
                  <polygon id="arrow" fill="#FFFFFF"
                    transform="translate(27.000000, 72.000000) rotate(-45.000000) translate(-27.000000, -72.000000) "
                    points="20 65 22 65 22 77 34 77 34 79 20 79">
                  </polygon>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </header>

    <div class="project-two-viewport"></div>
  </section>
  <section id="projectsContTwo" class="section jstorm-logo-section project-two-container-two">
    <div class="row h-100 p-5">
      <div class="col-lg-6">
        <div class="row">
          <img class="jstorm-logo-img w-100" src="../../assets/img/jstorm-logo/j.storm-logo-blk.png">
        </div>
        <div class="row">
          <img class="jstorm-logo-img w-100 mb-4" src="../../assets/img/jstorm-logo/j.storm-logo-wht.png">
        </div>
      </div>
      <div class="col-lg-6 jstorm-right-section text-right">
        <h1 class="jstorm-title-2 animated animatedFadeInUp">
          J.STORM
          <br>
          LOGO DESIGN
        </h1>
        <p class="jstorm-text animated animatedFadeInUp">
          Logo created for Jeremy Lin's professional
          <br>
          Esports organization, J.Storm.
        </p>
      </div>

      <div class="project-two-viewport"></div>
    </div>
    <div class="row chevron w-100 ">
      <div class="col-12 col-lg-7 w-100 text-white">
        <a class="arrow-down-2" href="#projectsLast" alt="" rel="relativeanchor">
          <svg width="54px" height="102px" viewBox="0 0 54 102" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="btn-arrow-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3">
                <rect id="arrow-line" fill="#FFFFFF" x="26" y="-3" width="2" height="83">
                </rect>
                <polygon id="arrow" fill="#FFFFFF"
                  transform="translate(27.000000, 72.000000) rotate(-45.000000) translate(-27.000000, -72.000000) "
                  points="20 65 22 65 22 77 34 77 34 79 20 79">
                </polygon>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </section>
  <section id="projectsLast" class="section parallax bg3 ">
    <div class="row projects-quote-container">
      <div style="padding-right;" class="col-12 text-right">
        <h1 class="text-right dd-text">
          I am a full-stack developer with a focus on providing
          <span class="intro-word-highlight">unique</span>
          user experiences.
          I'm always looking forward to expanding my knowledge and improving my existing skills.
          I excel at
          <span class="intro-word-highlight">creative</span>
          problem solving and critical thinking.
        </h1>
      </div>
    </div>
    <div class="row chevron w-100 ">
      <div class="col-12 col-lg-7 w-100 text-white">
        <a class="arrow-down-2" href="#contactTwo" alt="" rel="relativeanchor">
          <svg width="54px" height="102px" viewBox="0 0 54 102" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="btn-arrow-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3">
                <rect id="arrow-line" fill="#FFFFFF" x="26" y="-3" width="2" height="83">
                </rect>
                <polygon id="arrow" fill="#FFFFFF"
                  transform="translate(27.000000, 72.000000) rotate(-45.000000) translate(-27.000000, -72.000000) "
                  points="20 65 22 65 22 77 34 77 34 79 20 79">
                </polygon>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <div class="projects-two-viewport"></div>
  </section>
  <section id="contactTwo" class="section jstorm-logo-section contact-two-container">
    <div class="row h-100 p-5">
      <img id="signature" class="signature" src="../assets/img/signature/aaron_sig.gif">
      <div class="contact-two-viewport"></div>
    </div>
  </section>
</main>