@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'dense';
  src: url('../../../src/assets/fonts/Dense-Regular.otf');
}

@font-face {
  font-family: 'ralewayLight';
  src: url('../../../src/assets/fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: 'ralewayExtraLight';
  src: url('../../../src/assets/fonts/Raleway-ExtraLight.ttf');
}

@font-face {
  font-family: 'ralewayThin';
  src: url('../../../src/assets/fonts/Raleway-Thin.ttf');
}

@font-face {
  font-family: 'raleway';
  src: url('../../../src/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'ralewaySemi';
  src: url('../../../src/assets/fonts/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'ralewayBold';
  src: url('../../../src/assets/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'ralewayExtraBold';
  src: url('../../../src/assets/fonts/Raleway-ExtraBold.ttf');
}

@font-face {
  font-family: 'ralewayBlack';
  src: url('../../../src/assets/fonts/Raleway-Black.ttf');
}

@font-face {
  font-family: 'ralewayExtraLightItalics';
  src: url('../../../src/assets/fonts/Raleway-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'big';
  src: url('../../../src/assets/fonts/BIGJOHN.otf');
}

@font-face {
  font-family: 'slim';
  src: url('../../../src/assets/fonts/SlimJoe.otf');
}

@font-face {
  font-family: 'avenirRegular';
  src: url('../../../src/assets/fonts/AvenirLTStd-Book.woff');
}

@font-face {
  font-family: 'avenirLight';
  src: url('../../../src/assets/fonts/AvenirLTStd-LightCopy.woff');
}

@font-face {
  font-family: 'trumpGothicEast';
  src: url('../../../src/assets/fonts/trump_gothic_east_bold.ttf');
}

* {
    font-family: 'ralewayLight' ;
    scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
}



.home-two-container {
    background: #fff !important;
    min-height: 100vh;
    scroll-behavior: smooth !important;
}
.vertical-menu {
    z-index: 9999999999999;
    position: fixed;
    right: 25px;
    width: 200px;
    top: 45%;
  }
  
  .vertical-menu a {
    background-color: transparent;
    text-decoration: none !important;
  }
  
  .line {
      padding-top: 13px;
      border-bottom: 1px solid #fff;
      opacity: 0;
      transition: 400ms;
  }

  .nav-link-text {
      padding-top: 2px;
      letter-spacing: 3px;
      color: #fff !important;
      font-family: 'ralewayLight';
      opacity: 0;
      transition: 400ms;
      text-decoration: none !important;
  }

  .nav-circle {
    border: 1px solid #fff;
    border-radius: 999999px;
    height: 10px;
    position: absolute;
    right: 25px;
    top: 9px;
    width: 10px;
    background: transparent;
    transition: 400ms;
  }

  .nav-link-container:hover .nav-circle {
    background: #fff;
    transition: 400ms;
  }

  .nav-link-container:hover .nav-circle-black {
    background: #505464;
    transition: 400ms;
  }

  .nav-link-container:hover .nav-link-text,
  .nav-link-container:hover .line {
      text-decoration: none !important;
    opacity: 1;
    transition: 400ms;
  }

  /* =============================================== PARALLAX ============================== */
  .wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
  }
  
  .section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    min-height: 100vh;
  
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-shadow: 0 0 5px #fff; */
  }
  
  .parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
  }
  
  /* The styling for the static div. */
  .static {
    background: red;
  }
  
  
  .bg1::after {
    background-image: linear-gradient(to right,rgba(0, 0, 0, .42)  , rgba(0, 0, 0, .42)), url("../../assets/img/background/graffiti-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2500ms;
  }

  .bg2::after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .22)  , rgba(0, 0, 0, .42)), url("../../assets/img/background/karl-chor-UvWlksgZGPE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg3::after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0)  , rgba(0, 0, 0, 0)), url("../../assets/img/background/DesignDevelop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .resume-two-container {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1)  , rgba(255, 255, 255, 1)), url("../../assets/img/background/headphones-1-bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-shadow: 0 0 5px #fff; */
  }

  .lets-title {
    font-family: 'ralewayExtraBold';
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #fff;
  }
  .resume-content {
    width: 100%;
    padding: 4% 210px;
  }

  .projects-title {
    font-family: 'ralewayBold';
    letter-spacing: 0px;
  }

  .ui-ux-img {
    width: 52%;
    opacity: .8;
  }

  .intro-paragraph-2 {
      padding: 20px 30%;
      font-size: 20px;
      color: #fff;
  }

  .vertical-text-2 {
    z-index: 20;
    color: #fff;
    position: fixed;
    top: 43%;
    font-size: 16px;
    left: 10px;
    letter-spacing: 5px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    /* font-weight: 900; */
    transition: 400ms;
   }

   .contact-icon-top {
    height: 32px;
    z-index: 20;
    position: absolute;
    top: 20px;
    right: 32px;
  }


  .resume-two-viewport,
  .home-two-viewport,
  .projects-two-viewport,
  .contact-two-viewport,
  .project-two-viewport-two {
    height: 40vh;
    position: absolute;
    top: 30vh;
    background: transparent;
    width: 100%;
    z-index: -99;
   }

  .active-nav {
    opacity: 1;
    transition: 300ms;
  }

  .active-circle {
    background: #fff;
    transition: 300ms;
  }


  .color-black {
    color: #505464 !important;
    transition: 400ms;
    font-family: 'ralewayLight' !important;
    font-weight: 700;
  }

  .line-black {
    border-bottom: 1px solid #505464 !important;
    transition: 400ms;
  }

  .circle-black {
    border: 1px solid #505464 !important;
    transition: 400ms;
  }

  .active-circle-black {
    background: #505464;
    transition: 400ms;
  }


  .resume-title {
    color: #eb3b5a;
    font-family: 'ralewayBold';
  }

  .resume-img {
    width: 90%;
    box-shadow: 13px 13px 5px -12px #505464;
  }

  .proficiencies-title {
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'trumpGothicEast';
    border-bottom: 3px solid #eb3b5a;
    color: #505464;
  }
  
  .prof-icon {
    max-height: 52px;
    margin-right: 25px;
  }

  .prof-text {
    font-family: 'ralewaySemi';
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 42px;
    color: #505464;
  }

  .quote-one {
    color: #fff;
    font-family: 'ralewayExtraLightItalics';

  }

  .quote-author {
    color: #fff;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: 'ralewayBold';
  }

  .project-two-container-two {
    background: #4D8DCA;
  }

  .contact-two-container {
    background: #505464;
  }

  .chevron {
    position: absolute;
    bottom: 30px;
  }

  header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

  .jstorm-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 120%;
    min-height: 120%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .4), 75%, rgba(0, 0, 0, 0.7));
  z-index: 1;
}

.projects-quote-container {
  padding: 0 250px;
}

.project-circle {
  padding: 8px;
  border: 2px solid #eb3b5a;
  border-radius: 999px;
  transition: 300ms;
}
.project-circle:hover {
  box-shadow: 0px 0px 15px -3px #eb3b5a;
  transition: 300ms;
}

.header-1 {
  text-align: left;
  font-family: 'ralewayExtraBold', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-left: 6px solid #eb3b5a;
  padding-left: 24px;
  }

  .project-container {
    position: relative;
    top: 30px;
    width: 100%;
    margin: 0 !important;
    z-index: 999999999;
  }

  .jstorm-logo-section {
    padding: 0 210px;
  }

  .jstorm-right-section {
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .section-alt {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jstorm-text {
    font-size: 22px;
    color: #fff;
    font-family: 'ralewaySemi';
  }

  .jstorm-title-2 {
    font-family: 'ralewayExtraBold', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-right: 6px solid #eb3b5a;
    padding-right: 24px;
  }

  .arrow-down {
    position: relative;
    left: 63px;
  }

  .arrow-down-2 {
    position: relative;
    z-index: 999999999;
    left: 18px;
  }

  .signature {
    opacity: 1;
    width: 200px;  
    position: absolute; 
    right: 35px; 
    bottom: 10px;
    transition: 300ms;
  }

  .signature-fade {
    opacity: 0 !important;
    transition: 400ms;
  }

  .intro-word-highlight {
    font-family: 'ralewayExtraBold';
    color: #F1536F;
    font-size: 32px;
    letter-spacing: 1px;

    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }

  .dd-text {
    font-size: 20px;
    /* font-family: 'ralewaySemi'; */
    color: #fff;
  }

  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #505464;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0, 0.4);
  transition: 300ms ease-in-out;
  border-radius: 35px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0, 0.8);
  transition: 300ms ease-in-out;
}

  /* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.color-white {
  color: #fff !important;
  transition: 300ms;
}

.website-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 110px auto 0 auto;
	font-family: 'Bree Serif';
	padding: 10px;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence .word-span{
	color: #444;
	font-size: 200%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 .word-span{
  font-family: 'ralewayExtraBold';
  letter-spacing: -1px;
	position: absolute;
  opacity: 0;
  top: 43px;
	/* overflow: hidden; */
	color: #1dd1a1;
	-webkit-animation: rotateWord 10s linear infinite 0s;
	-ms-animation: rotateWord 10s linear infinite 0s;
	animation: rotateWord 10s linear infinite 0s;
}
.rw-words-1 .word-span:nth-child(2) { 
    -webkit-animation-delay: 2s; 
	-ms-animation-delay: 2s; 
	animation-delay: 2s; 
	color: #f6e58d;
}
.rw-words-1 .word-span:nth-child(3) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
	color: #48dbfb;	
}
.rw-words-1 .word-span:nth-child(4) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #f3a683;
}
.rw-words-1 .word-span:nth-child(5) { 
    -webkit-animation-delay: 8s; 
	-ms-animation-delay: 8s; 
	animation-delay: 8s; 
	color: #a29bfe;
}


@supports (display: grid) {
  body {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.625rem;
  grid-template-areas: ". main main ." ". main main .";
  }
  
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}














@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

@media only screen and (max-width: 680px) {

  .intro-paragraph-2 {
    padding: 20px 50px;
    text-align: left;
  }

  .ui-ux-img {
    width: 100%;
    opacity: .8;
  }

  .vertical-menu {
    z-index: 9999999999999;
    position: fixed;
    right: 12px;
    width: 80px;
    top: 45%;
  }

  .nav-line,
  .nav-link-text {
    display: none;
  }


  .resume-content {
    width: 100%;
    padding: 4% 35px;
  }

  .nav-link-container {
    margin-bottom: 30px !important;
  }

  .resume-img {
    width: 100%;
    box-shadow: 13px 13px 5px -12px #505464;
  }

  .projects-quote-container {
    padding: 0 50px;
  }

  .quote-one {
    text-align: left;
    font-size: 24px;
  }

  .header-1 {
    font-family: 'ralewayExtraBold', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-left: 6px solid #eb3b5a;
    padding-left: 24px;
  }
  
  .jstorm-title-2 {
    font-family: 'ralewayExtraBold', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-right: 6px solid #eb3b5a;
    padding-right: 24px;
  }

  .jstorm-logo-section {
    padding: 0 34px;
  }

  .jstorm-text {
    font-size: 16px;
    color: #fff;
    font-family: 'ralewaySemi';
  }

  .rw-words {
    text-indent: 0px;
}

.arrow-down {
  position: relative;
  left: 63px;
  opacity: 0;
}

.arrow-down-2 {
  position: relative;
  z-index: 999999999;
  left: 18px;
  opacity: 0;
}

}