@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'dense';
  src: url('../../../src/assets/fonts/Dense-Regular.otf');
}

@font-face {
  font-family: 'ralewayLight';
  src: url('../../../src/assets/fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'ralewayExtraLight';
  src: url('../../../src/assets/fonts/Raleway-ExtraLight.ttf');
}
@font-face {
  font-family: 'ralewayThin';
  src: url('../../../src/assets/fonts/Raleway-Thin.ttf');
}

@font-face {
  font-family: 'raleway';
  src: url('../../../src/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'ralewaySemi';
  src: url('../../../src/assets/fonts/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'ralewayBold';
  src: url('../../../src/assets/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'ralewayBlack';
  src: url('../../../src/assets/fonts/Raleway-Black.ttf');
}

@font-face {
  font-family: 'ralewayExtraLightItalics';
  src: url('../../../src/assets/fonts/Raleway-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'big';
  src: url('../../../src/assets/fonts/BIGJOHN.otf');
}

@font-face {
  font-family: 'slim';
  src: url('../../../src/assets/fonts/SlimJoe.otf');
}

@font-face {
  font-family: 'avenirRegular';
  src: url('../../../src/assets/fonts/AvenirLTStd-Book.woff');
}

@font-face {
  font-family: 'avenirLight';
  src: url('../../../src/assets/fonts/AvenirLTStd-LightCopy.woff');
}

@font-face {
  font-family: 'trumpGothicEast';
  src: url('../../../src/assets/fonts/trump_gothic_east_bold.ttf');
}

* {
    font-family: 'ralewayLight' ;
    scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
}

.home-two-container {
    background: #fff !important;
    min-height: 100vh;
    scroll-behavior: smooth !important;
}
.vertical-menu {
    z-index: 9999999999999;
    position: fixed;
    right: 25px;
    width: 200px;
    top: 45%;
  }
  
  .vertical-menu a {
    background-color: transparent;
    text-decoration: none !important;
  }
  
  .line {
      padding-top: 13px;
      border-bottom: 1px solid #fff;
      opacity: 0;
      transition: 400ms;
  }

  .nav-link-text {
      padding-top: 2px;
      letter-spacing: 3px;
      color: #fff !important;
      font-family: 'ralewayLight';
      opacity: 0;
      transition: 400ms;
      text-decoration: none !important;
  }

  .nav-circle {
    border: 1px solid #fff;
    border-radius: 999999px;
    height: 10px;
    position: absolute;
    right: 25px;
    top: 9px;
    width: 10px;
    background: transparent;
    transition: 400ms;
  }

  .nav-link-container:hover .nav-circle {
    background: #fff;
    transition: 400ms;
  }

  .nav-link-container:hover .nav-link-text,
  .nav-link-container:hover .line {
      text-decoration: none !important;
    opacity: 1;
    transition: 400ms;
  }

  /* =============================================== PARALLAX ============================== */
  .wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
  }
  
  .section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;
  
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-shadow: 0 0 5px #fff; */
  }
  
  .parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
  }
  
  /* The styling for the static div. */
  .static {
    background: red;
  }
  
  /* Sets the actual background images to adorable kitties. This part is crucial. */
  .bg1::after {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .7)  , rgba(0, 0, 0, .85)), url("../../assets/img/background/graffiti-fence-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg2::after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .6)  , rgba(0, 0, 0, .75)), url("../../assets/img/background/headphones-1-bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .resume-two-container {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1)  , rgba(255, 255, 255, 1)), url("../../assets/img/background/headphones-1-bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-shadow: 0 0 5px #fff; */
  }

  .resume-content {
    width: 100%;
    padding: 4% 10%;
  }

  .projects-title {
    font-family: 'ralewayBold';
    letter-spacing: 0px;
  }

  .ui-ux-img {
    width: 52%;
    opacity: .8;
  }

  .intro-paragraph-2 {
      padding: 20px 30%;
      font-size: 20px;
      color: #fff;
  }

  .vertical-text-2 {
    z-index: 20;
    color: #eb3b5a;
    position: fixed;
    top: 43%;
    font-size: 15px;
    left: 10px;
    letter-spacing: 5px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-weight: 900;
    transition: 400ms;
   }

   .personal-logo-1 {
    width: 70px;
    z-index: 20;
    position: absolute;
    top: 10px;
    right: 30px;
  }


  .resume-two-viewport,
  .home-two-viewport,
  .projects-two-viewport,
  .contact-two-viewport,
  .project-two-viewport-two {
    height: 30px;
    position: absolute;
    bottom: 30vh;
    background: transparent;
    width: 100%;
   }

  .active-nav {
    opacity: 1;
    transition: 300ms;
  }

  .active-circle {
    background: #fff;
    transition: 300ms;
  }


  .color-black {
    color: #505464 !important;
    transition: 400ms;
    font-family: 'ralewayLight' !important;
    font-weight: 700;
  }

  .line-black {
    border-bottom: 1px solid #505464 !important;
    transition: 400ms;
  }

  .circle-black {
    border: 1px solid #505464 !important;
    transition: 400ms;
  }

  .active-circle-black {
    background: #505464;
    transition: 400ms;
  }


  .resume-title {
    color: #eb3b5a;
    font-family: 'ralewayBold';
  }

  .resume-img {
    width: 75%;
    box-shadow: 3px 3px 8px;
  }

  .proficiencies-title {
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'trumpGothicEast';
    border-bottom: 3px solid #eb3b5a;
    color: #505464;
  }
  
  .prof-icon {
    max-height: 52px;
    margin-right: 25px;
  }

  .prof-text {
    font-family: 'ralewaySemi';
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 42px;
    color: #505464;
  }

  .quote-one {
    color: #fff;
    font-family: 'ralewayExtraLightItalics';

  }

  .quote-author {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'trumpGothicEast';
  }

  .project-two-container-two {
    background: #505464;
  }

  .chevron {
    position: absolute;
    bottom: 30px;
  }

  header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .4), 75%, rgba(0, 0, 0, .6));
  z-index: 1;
}