/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'dense';
    src: url('../src/assets/fonts/Dense-Regular.otf');
  }

  @font-face {
    font-family: 'big';
    src: url('../src/assets/fonts/BIGJOHN.otf');
  }

  @font-face {
    font-family: 'slim';
    src: url('../src/assets/fonts/SlimJoe.otf');
  }

  @font-face {
    font-family: 'avenirRegular';
    src: url('../src/assets/fonts/AvenirLTStd-Book.woff');
  }

  @font-face {
    font-family: 'avenirLight';
    src: url('../src/assets/fonts/AvenirLTStd-LightCopy.woff');
  }

  @font-face {
    font-family: 'avenirSemiBold';
    src: url('../src/assets/fonts/OpenSans-Semibold.ttf');
  }


html, body { 
  scroll-behavior: smooth;
  height: 100%; 
  transition: 400ms ease;
}

.vertical-text {
  opacity: 0;
  position: fixed;
  top: 45%;
  font-size: 13px;
  left: 10px;
  letter-spacing: 3px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-weight: 900;
  transition: 400ms;
 }

 .vertical-text:hover {
  color: #eb3b5a;
}
 .vertical-text span {
   text-orientation: sideways;
 }

body { 
  margin: 0; 
  font-family: 'slim', Roboto, "Helvetica Neue", sans-serif;
  color: #FEFEFE;
  font-weight: bold;
 }

 /* ================================= */

 .fullscreen-bg {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
}

/* ================================ */


.main-container {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .2)  , rgba(0, 0, 0, .9)), url("../src/assets/img/background/laptop-img.jpg");
  min-height: 100vh !important;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
 padding: 90px 40px;
}

.name-title {
  border-right: 3px solid #eb3b5a;
}

.name-title h1 {
  float: right;
  font-family: 'big';
  letter-spacing: 6px;
  color: #FEFEFE;
}

.project-title {
  border-left: 3px solid #eb3b5a;
}

.project-title h1 {
  float: left;
  font-family: 'big';
  letter-spacing: 6px;
  color: #FEFEFE;
}

.project-text {
  font-family: 'avenirLight'; 
  color: #fefefe; 
  text-align: right; 
  font-size: 30px; 
  border-bottom: 3px solid #eb3b5a; 
  max-width: 95%; 
  float: right; 
  padding-bottom: 8px;
}

.project-text-right {
  font-family: 'avenirLight'; 
  color: #fefefe; 
  text-align: left; 
  font-size: 30px; 
  border-bottom: 3px solid #eb3b5a; 
  max-width: 95%; 
  float: left; 
  padding-bottom: 8px;
}

.intro-paragraph {
  font-size: 25px;
  margin-top: 125px;
  margin-left: 20%;
  margin-right: 20%;
  color: #FEFEFE;
  font-family: 'slim';
  font-weight: 600;
  text-align: right;
}

.intro-word-highlight {
  font-size: 30px;
  letter-spacing: 5px;
  font-family: 'big';
  color: #eb3b5a;
}

.navbar {
  z-index: 9999999;
  width: 100%;
  position: fixed;
  padding-bottom: 0px;
  /* background: transparent !important; */
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  color: #FEFEFE !important;
  display: inline-block;
  float:none;
}

.nav-link {
  color: rgba(254, 254, 254, .7) !important;
  letter-spacing: 3px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  transition: 400ms ease;
}

.nav-link:hover {
  color: #fefefe !important;
  border-bottom: 3px solid rgb(235, 59, 90);
  transition: 400ms ease;
}

.nav-item {
  margin: 0 15px;
}

.spacer-row {
  height: 50px;
  width: 100%;
}

.proficiencies-img {
  width: 53%;
  margin-bottom: 15px;
}

.contact-btn {
  background: transparent;
  border: 3px solid #fefefe;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  color: #fefefe;
  font-weight: 900;
  transition: 400ms ease;
}

.contact-btn:hover {
  background: #fefefe;
  border: 3px solid transparent;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  color: #000;
  
  transition: 400ms ease;
}

.email-img .phone-img .linkedin-img {
  height: 100%;
  opacity: 0.2;
  transition: 400ms ease;
}

.contact-title{
  height: 100%;
  opacity: 1 !important;
  color: #FEFEFE;
  font-family: 'slim';
  font-weight: 900;
  text-decoration-color: transparent;
  transition: 400ms ease;
}

.col-4:hover .email-img {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .3)  , rgba(32, 32, 32, .8)), url("../src/assets/img/background/mail-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  opacity: 1;
  transition: 400ms ease;
  text-decoration: none;
}

.col-4:hover  .phone-img{
  background-image: linear-gradient(to top, rgba(0, 0, 0, .3)  , rgba(32, 32, 32, .8)), url("../src/assets/img/background/phone-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  opacity: 1;
  transition: 400ms ease;
  text-decoration: none;
}

.col-4:hover  .linkedin-img{
  background-image: linear-gradient(to top, rgba(0, 0, 0, .3)  , rgba(32, 32, 32, .8)), url("../src/assets/img/background/handshake-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  opacity: 1;
  transition: 400ms ease;
  text-decoration: none;
}


/* ----------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .2); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0.7); 
  transition: 400ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
  transition: 400ms ease;
}

/* ----------------------------------- */

.slide-right {
  left:-800px;

}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.6s;
  -moz-animation-duration:.6s;
  animation-duration:.6s;
}

.fade-in.one {
  /* -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
  animation-delay: 0.35s; */
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay:1.3s;
  animation-delay: 1.3s;
}

.fade-in.two {
  -webkit-animation-delay: 2s;
  -moz-animation-delay:2s;
  animation-delay: 2s;
  /* transform: translateY(-30px); */
}

.fade-in.three {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; 
}