/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'dense';
    src: url('../src/assets/fonts/Dense-Regular.otf');
  }

  @font-face {
    font-family: 'big';
    src: url('../src/assets/fonts/BIGJOHN.otf');
  }

  @font-face {
    font-family: 'slim';
    src: url('../src/assets/fonts/SlimJoe.otf');
  }

  @font-face {
    font-family: 'avenir';
    src: url('../src/assets/fonts/AvenirLTStd-Medium.woff');
  }

  @font-face {
    font-family: 'avenirLight';
    src: url('../src/assets/fonts/AvenirLTStd-Light.woff');
  }


html, body { 
  scroll-behavior: smooth;
  height: 100%; 
}



body { 
  margin: 0; 
  font-family: 'slim', Roboto, "Helvetica Neue", sans-serif;
  color: #FEFEFE;
  font-weight: bold;
 }


.main-container {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .2)  , rgba(0, 0, 0, .9)), url("../src/assets/img/background/black-791429_1920.jpg");
  background-size: cover;
  min-height: 100vh !important;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
 padding: 90px 40px;
}

.name-title {
  border-right: 3px solid #d1213d;
}

.name-title h1 {
  float: right;
  font-family: 'big';
  letter-spacing: 6px;
  color: #FEFEFE;
}

.project-title {
  border-left: 3px solid #d1213d;
}

.project-title h1 {
  float: left;
  font-family: 'big';
  letter-spacing: 6px;
  color: #FEFEFE;
}

.intro-paragraph {
  font-size: 25px;
  margin-top: 125px;
  margin-left: 20%;
  margin-right: 20%;
  color: #FEFEFE;
  font-family: 'slim';
  font-weight: 600;
  text-align: right;
}

.intro-word-highlight {
  font-size: 30px;
  letter-spacing: 5px;
  font-family: 'big';
  color: #d1213d;
}

.navbar {
  z-index: 9999999;
  width: 100%;
  position: fixed;
  padding-bottom: 0px;
  /* background: transparent !important; */
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  color: #FEFEFE !important;
  display: inline-block;
  float:none;
}

.nav-link {
  color: rgba(254, 254, 254, .7) !important;
  letter-spacing: 3px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  transition: 400ms ease;
}

.nav-link:hover {
  color: #fefefe !important;
  border-bottom: 3px solid #d1213d;
  transition: 400ms ease;
}

.nav-item {
  margin: 0 15px;
}

.spacer-row {
  height: 50px;
  width: 100%;
}

/* ----------------------------------- */

.slide-right {
  left:-700px;

}

.art-text-fade-in {
  /* opacity: 1; */
  
}